[primary]
address=primary.tail1234a.ts.net
monitorpw=secret
monitoruser=root
type=server

[replica]
address=mariadb
monitorpw=secret
monitoruser=root
type=server

[monitor]
type=monitor
module=mariadbmon
user=root
password=secret
servers=replica, primary

[rw]
password=secret
router=readwritesplit
type=service
user=maxscale
targets=replica,primary

[listen]
authenticator=MariaDBAuth
port=4008
service=rw
type=listener

[maxscale]
threads=auto
admin_host=0.0.0.0
admin_secure_gui=false